snippet start
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>$0</title>
	</head>
	<body>
	</body>
</html>
endsnippet

snippet t
<$1>
	$0
</`!p snip.rv = t[1].split(" ")[0]`>
endsnippet

snippet ti "Inline tag" w
<$1>$0</`!p snip.rv = t[1].split(" ")[0]`>
endsnippet

snippet div
<div>

</div>
endsnippet

snippet a "Anchor tag" w
<a href="$1">$0</a>
endsnippet
