snippet eq
\begin{equation}
	$1
\end{equation}
$0
endsnippet

snippet col
\left(\begin{matrix}$1\end{matrix}\right)$0
endsnippet

snippet fig
\begin{figure}
	\includegraphics{$1}
	\caption{$2}
	\label{fig:$3}
\end{figure}
$0
endsnippet

snippet href
\href{$1}{$1}$0
endsnippet
